<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ api.php/$1 [L,QSA]
</IfModule>
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    #Header set Access-Control-Allow-Methods "GET,HEAD,OPTIONS,POST,PUT"
    Header set Access-Control-Allow-Headers "Content-Type"

</IfModule>